.display_none{display: none;}



.buy-link{background-color: #000; padding-top: 20px;  text-align: center;}

.buy-link ul li {
    display: inline-block;
}
.grey-bg{background-color: #f5f5f5;}
.md-arrow-left, .md-arrow-right{    z-index: 100;}
.video-featured iframe{width: 97%;height: auto;min-height: 210px;}

.video-featured .views-field-title, .view-display-id-all_videos .views-field-title, .view-news-and-event .views-field-title, .featured-news-events .views-field-title{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}
.video-featured .views-field-title a, .view-display-id-all_videos .views-field-title a, .related-videos .views-field-title a, .view-news-and-event .views-field-title a, .featured-news-events .views-field-title a{
    text-decoration: none;
}
.video-featured .views-field-title a:hover, .view-display-id-all_videos .views-field-title a:hover, .related-videos .views-field-title a:hover, .view-news-and-event .views-field-title a:hover, .featured-news-events .views-field-title a:hover{
    text-decoration: underline;
}

.video-featured .views-field-field-video-category a, .view-display-id-all_videos .views-field-field-video-category a {
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 0px 5px;
    background-color: #f7f7f7;
}
.view-display-id-all_videos iframe {
    width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 300px;
}
.related-videos iframe {
    width: 100%;
    height: auto;
}
.related-videos .views-field-title {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    margin-bottom: 20px;
}
.news-info span {
    font-style: italic;
    font-weight: bold;
}
.news-info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}
.min-heigh-500{height:500px;}
.view-news-and-event span.date-display-single {
    font-size: 12px;
}
#news-event-banner{background-attachment: fixed;
                   background-position: top;
                   background-repeat: no-repeat;
                   background-size: cover;}
.node-news-event h1.news-event-heading{margin-bottom: 20px;}    
.related-news-event .views-field-title{margin-bottom: 0px; text-align: left;}
.breadcrumb {
    background-color: transparent; 
}
.featured-news-events img{width:95%;}
.featured-news-events .views-field-field-date {
    font-size: 13px;
}
.view-display-id-all_videos .views-field-field-video-category br{display: none; padding-left: 5px;}
.view-display-id-all_videos .views-field-field-video-category a{margin-left: 5px;}
.views-exposed-form label {
    display: inline;
    float: left;
    padding: 0px;
    margin: 0px;
    line-height: 8px !important;
    padding-right: 10px;
}
.views-exposed-form .views-widget {

    float: left;

}
#edit-category-wrapper {
    float: right;
    margin-right: -12px;
    right: 0px;
    margin-left: 0px;
}
.view-empty {
    text-align: center;
}
.boxs {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px -4px 47px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -4px 47px -24px rgba(0,0,0,0.75);
    box-shadow: 1px -4px 47px -24px rgba(0,0,0,0.75);
}
.boxs p {
    margin-bottom:5px;
}
.boxs img {
    width:100%;
    margin-bottom:10px
}



dl.ckeditor-tabber dt a {
    display: block;
    text-decoration: none;
    padding: 6px 20px 5px;
    text-decoration: none;
    color: #000;
    background-color: none !important;
    border: 1px solid transparent;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: normal;
    font-size: 12px;
}
dl.ckeditor-tabber dt.current {
    position: relative;
    z-index: 3;
    border: 1px solid #222 !important;
    background-color: none !important;
    color: #000;
    cursor: default;
    border-radius: 20px;
}
dl.ckeditor-tabber dt {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: auto;
    text-align: center;
    display: inline-block;
    z-index: 1;
    background-color: initial;
    border: 0px;
}
dl.ckeditor-tabber dd {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    z-index: 2;
    padding: 1em;
    position: relative;
    top: -2px;
    background: #FFF;
    border: 0px solid #333;
}
.webform-client-form p br{display: none;}

.content-section-59293391657dc {
    background-color: #0f0f0f;
    padding-top: 50px;
    padding-bottom: 70px;
    background-attachment: scroll !important;

}
.newsletter-label p{
    color: #ddd;
    margin-top: 7px;
    font-size: 13px;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
}
.newsletter-label-style2:before {
    content: "\e003";
    display: inline-block;
    position: absolute;
    top: 15%;
    right: -10%;
    font-family: 'et-font';
    font-size: 192px;
    line-height: 1;
    color: #17c2d6;
    opacity: 0.13;
}
.newsletter-label-style2 h5:first-child {
    padding-top: 1.5em;
    font-weight: 300;
    position: relative;
    border-top: 1px solid #17c2d6;
    max-width: 92px;
}
.content-section-59293391657dc h4{
    padding: 0px;
    color:#f4f4f4;
}

.region-home-subscribe label {
    font-size: 16px;
    font-weight: 500;
    color: #5f5f5f;
    line-height: 1.8;
    display: block
}
.webform-component  input[type="email"],.webform-component  input[type="text"],.webform-component  textarea, .webform-component  select{   
    width: 100%;
}
.webform-component  input[type="email"],.webform-component  input[type="text"],.webform-component select{
    height: 37px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 12px;
}
.webform-client-form-79 input[type="email"]{
    width: 293px;
    height: 37px;
}
.webform-component  input[type="email"],.webform-component  input[type="text"],.webform-component  textarea,.webform-component select{
    display: inline-block;
    /*! height: 27px; */
    vertical-align: middle;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777;
    border: 1px solid rgba(0,0,0, .1);
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.elegant-newsletter .webform-submit  {
    padding-top: 7px;
    background-color: #27bfd3;
}
.webform-submit {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.region-home-subscribe .webform-submit {
    display: inline-block !important;
    margin: 0;

    padding: 7px 37px;
    font-size: 12px;
    border: none;
    box-sizing: border-box;
    color: #fff;

    border: 2px solid transparent;

    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius:2px;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    margin-top: 47px;
    margin-left: 5px;
}
.form-item.webform-component.webform-component-email.webform-component--email {
    float: left;
}
.webform-confirmation {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.webform-confirmation p{padding: 0px; margin: 0px;}
.block-webform .links{display: none;}
.max-width-800{max-width: 800px; margin: 0 auto !important; margin-top: 80px !important; }

.webform-component br{display: none;}
.webform-component  textarea{min-height: 85px;}

.webform-client-form-7 .form-actions,.webform-client-form-8 .form-actions,.webform-client-form-9 .form-actions,.webform-client-form-10 .form-actions{
    text-align:right;
}
.webform-client-form-7 .form-submit,.webform-client-form-8 .form-submit,.webform-client-form-9 .form-submit, .webform-client-form-10 .form-submit{
    padding: 7px 37px;
    font-size: 12px;
    border: none;
    box-sizing: border-box;
    color: #fff;
    background: rgba(34,34,34, .9);
    border: 2px solid transparent;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}